.toastify {
   position: absolute;
   min-height: 64px;
   box-sizing: border-box;
   margin-bottom: 1rem;
   padding: 1rem;
   border-radius: 4px;
   z-index: var(--z-70);
   box-shadow:
      0 1px 10px 0 rgba(0, 0, 0, 0.1),
      0 2px 15px 0 rgba(0, 0, 0, 0.05);
   display: flex;
   justify-content: space-between;
   overflow: hidden;
   cursor: pointer;
   direction: ltr;
   color: white;
   width: 300px;
   left: 1rem;
   bottom: 1rem;
   align-items: center;

   &.success {
      background-color: var(--gray-900);
   }

   &.info {
      background-color: var(--brand-800);
   }

   &.failure {
      background-color: var(--danger);
   }
}
