.report-card {
   background-color: white;
   box-sizing: border-box;

   // @include no-mobile {
   //    border: 1px solid var(--gray-200);
   // }

   header {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--gray-100);
      border-bottom: 1px solid var(--gray-200);
      font-weight: 600;
      font-size: 18px;
      padding: 1rem;
      gap: 0.5rem;
   }
}
