.dashboard {
   transition: background-color 0.5s;
   background-color: whitesmoke;
   box-sizing: border-box;

   .container {
      max-width: 82rem;
      padding: 4rem 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;
      margin: 0 auto;

      // @include mobile {
      //    overflow: auto;
      //    padding: 1rem 0.5rem;
      //    display: flex;
      //    flex-direction: column;
      //    gap: 1rem;
      // }
   }

   canvas {
      max-width: 100%;
   }
}

::ng-deep html.dark {
   .dashboard {
      background-color: var(--gray-700);
   }
}
