div {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: var(--z-70);
   -webkit-tap-highlight-color: transparent;
   pointer-events: auto;

   &.blur-backdrop {
      background-color: #0008;
   }
}
