@use '../../styles/mixins' as *;

form {
   display: flex;
   align-items: center;
   flex-direction: row;
   position: relative;
   gap: 0.5rem;
   z-index: var(--z-20);
   max-width: min(1200px, 100%);
   flex-wrap: wrap;
}
